{% extends "template.html" %}


{% set color = 'teal' %}
{% set color_code = '#38b2ac' %}

{% block title %}{{'Datos de Facturación'}}{% endblock %}

{% block content %}
<form class="row g-3" action="http://127.0.0.1:8000" method="post">
    <h2> Datos del cliente</h2>
    <div class="col-md-6">
        <label for="inputNombreFiscal" class="form-label">Nombre fiscal</label>
        <input type="text" class="form-control" id="inputNombreFiscal" name="cliente">
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-md-2">
        <label for="inputNumeroRegistro" class="form-label">Numero de Registro</label>
        <input type="text" class="form-control" id="inputNumeroRegistro">
    </div>
    <div class="col-md-2">
        <label for="inputPais" class="form-label">País (ISO Alpha-3)</label>
        <input type="text" class="form-control" id="inputPais">
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <h2> Datos del Movimiento</h2>
    <div class="col-12">
        <label for="inputMaiz" class="form-label">Maiz (5000 pesos el kilo)</label>
        <input type="number" value="0" class="form-control" id="inputMaiz" placeholder="Kilos" name="maiz">
    </div>
    <div class="col-12">
        <label for="inputCocoa" class="form-label">Cocoa (8000 pesos el kilo)</label>
        <input type="number" value="0" class="form-control" id="inputCocoa" placeholder="Kilos" name="cocoa">
    </div>
    <div class="col-12">
        <label for="inputArroz" class="form-label">Arroz (4000 pesos el kilo)</label>
        <input type="number" value="0" class="form-control" id="inputArroz" placeholder="Kilos" name="arroz">
    </div>
    <div class="form-check col-md-2">
        <input class="form-check-input" type="radio" name="tipoMovimiento" id="salidaInput" value="Salida">
        <label class="form-check-label" for="salidaInput">
            Compra
        </label>
    </div>
    <div class="form-check col-md-2">
        <input class="form-check-input" type="radio" name="tipoMovimiento" id="entradaInput" value="Entrada" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Venta
        </label>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" value="Submit">Generar</button>
    </div>
</form>
{% endblock %}